.yellow{
    color: yellow;
}

.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test{
    background-color: brown;
}

#firstdiv{
    background-color: red;
}

#seconddiv{
    background-color: blue;
}